.showcase {
  position: relative;
  width: 100%;
  height: 100vh; /* Ajusta la altura según tus necesidades */
  overflow: hidden; /* Para evitar que el video se salga del contenedor */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Para que los clics pasen a través del iframe */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según tus necesidades */
  z-index: 1;
}

.showcase-text {
  position: relative;
  z-index: 2;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}